<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.BusinessMapper">

	<select id="pensionCount" resultType="int">
		SELECT COUNT(PEN_ID) AS COUNT
		FROM PENSION
	</select>


	<!-- 펜션 리스트 불러오기(검색된 값) 리뷰 평점 추가-->
	<select id="getPensionList" resultType="com.itwillbs.domain.PensionDTO">
		SELECT P.PEN_ID
			 , P.PEN_NAME
		     , P.PEN_ADDRESS
		     , SUBSTRING_INDEX(A.PEN_IMAGE, '_', -1) AS PEN_IMAGE
		     , AVG(REV_STAR) AS STAR
		     , COUNT(R.REV_NUM) AS RV
		     , (SELECT IFNULL( MIN(CAST(RM_PRICE AS UNSIGNED)) , 0)
				  FROM PENSION_ROOM
				 WHERE PEN_ID = P.PEN_ID) AS RM_PRICE
		        
		 FROM PENSION P LEFT OUTER JOIN PENSION_ATTACH A
									    ON P.PEN_ID = A.PEN_ID
			  		    LEFT OUTER JOIN REVIEW R
		                                ON A.PEN_ID = R.PEN_ID
		WHERE 1=1
		<if test="pen_name != null and !pen_name.equals('')">
		  AND PEN_NAME LIKE '%${pen_name}%'
 		</if>
		<if test="pen_address != null and !pen_address.equals('')">
		  AND PEN_ADDRESS LIKE '%${pen_address}%'
		</if> 
	 	GROUP BY P.PEN_ID, P.PEN_NAME, A.PEN_IMAGE
		 LIMIT ${index}
		     , ${amount}
	 
	</select> 
	
	<!--메인페이지 top6 숙소 -->
	<!-- 다시 커밋 -->
	<select id="getTopList" resultType="com.itwillbs.domain.PensionDTO">
		SELECT A.PEN_IMAGE
			,  P.PEN_NAME
	        ,  P.PEN_ADDRESS
		    ,  IFNULL(ROUND(AVG(R.REV_STAR),1), ' ') AS STAR
		FROM PENSION P LEFT OUTER JOIN PENSION_ATTACH A
									ON P.PEN_ID = A.PEN_ID
					   LEFT OUTER JOIN REVIEW R
					                ON A.PEN_ID = R.PEN_ID
		GROUP BY P.PEN_ID, A.PEN_IMAGE
		ORDER BY AVG(R.REV_STAR) DESC
	</select>
	
	<!-- PENSION Table(팬션 정보) 입력 SQL구문 -->
	<insert id="registerPen">
		INSERT INTO PENSION(
							PEN_ID,
		       				USER_ID,
		       				PEN_NAME,
		       				PEN_ADDRESS,
		       				PEN_ZIPCODE,
		       				PEN_NUMBER
							)
		VALUES(
			   #{PEN_ID},
		       #{USER_ID},
		       #{PEN_NAME},
		       #{PEN_ADDRESS},
		       #{PEN_ZIPCODE},
		       #{PEN_NUMBER})
	</insert>
	
	<!-- PENSION_ATTACH Table(팬션 사진 테이블) 입력 SQL구문 -->
	<insert id="pensionAttach">
		INSERT INTO PENSION_ATTACH(PEN_ID,PEN_IMAGE)
		VALUES(
		       #{PEN_ID}, 
		       #{PEN_IMAGE})
	</insert>
	
	<!-- PENSION_ROOM Table(객실 정보 테이블) 입력 SQL구문 -->
	<!-- 여러 값들을 다중 입력을 위해 foreach 구문 사용 -->
	<insert id="pensionRoom" parameterType="java.util.Map">
		INSERT INTO PENSION_ROOM(
								 PEN_ID,
								 RM_NAME, 
			 					 RM_CHECKIN,
								 RM_CHECKOUT,
			 					 RM_PRICE,
								 RM_RESABLE_NUM,
								 RES_STATUS
								)
		VALUES
		<foreach collection="room" item="item" separator=",">
			(#{item.PEN_ID},
			 #{item.RM_NAME}, 
			 #{item.RM_CHECKIN},
			 #{item.RM_CHECKOUT},
			 #{item.RM_PRICE},
			 #{item.RM_RESABLE_NUM},
			 #{item.RES_STATUS})
		</foreach>
	</insert>		
	
	<!-- ROOM_ATTACH Table(객실 사진 테이블) 입력 SQL구문 -->
	<!-- 여러 값들을 다중 입력을 위해 foreach 구문 사용 -->
	<insert id="registerRoom" parameterType="java.util.Map">
		INSERT INTO ROOM_ATTACH(RM_NAME,RM_IMAGE)
		VALUES
		<foreach collection="roomAttach" item="item" separator=",">
			(#{item.RM_NAME}, #{item.RM_IMAGE})
		</foreach>
	</insert>
	
	<select id="getRoomList" resultType="com.itwillbs.domain.BusinessDTO">
		Select *
		  FROM PENSION_ROOM
	</select>
	
	<update id="updateRoomList">
		UPDATE PENSION_ROOM SET 
		       RM_NAME = #{RM_NAME}
			  ,RM_CHECKOUT = #{RM_CHECKOUT}
			  ,RM_PRICE = #{RM_PRICE}
	  	 WHERE ROOM_ID = #{RM_NUM}
	</update>
	
	<delete id="deleteRoomList">
		DELETE FROM PENSION_ROOM
		 WHERE ROOM_ID = #{RM_NUM}
	</delete>
	
	<select id="reservationCount" resultType="int">
		SELECT Count(P.PEN_ID) 'RCOUNT'
  	 	  FROM RESERVATION R LEFT JOIN PENSION P
		    ON (P.PEN_ID = R.PEN_ID)
		  LEFT JOIN MEMBER M
			ON (M.USER_ID = R.USER_ID)
		 WHERE P.USER_ID = #{USER_ID}
	</select>
	
	
<!-- 	<select id="getMaxNum" resultType="java.lang.Integer"> -->
<!-- 		SELECT MAX(RM_NUM) -->
<!-- 		  FROM ROOM -->
<!-- 	</select> -->

	<!-- 이지원 -->
	<select id="getPensionDetail" resultType="com.itwillbs.domain.PensionDTO">
		SELECT P.PEN_NAME
		     , P.PEN_ADDRESS
		     , A.PEN_IMAGE
		  FROM PENSION P
		  JOIN PENSION_ATTACH A
		    ON P.PEN_ID = A.PEN_ID
		 WHERE P.PEN_NAME = #{PEN_NAME};
	</select>
	
	<!-- 이지원 -->
 	<select id="getSearchRoomList" resultType="com.itwillbs.domain.BusinessDTO">
		SELECT R.RM_PRICE
		     , R.RM_CHECKIN
		     , R.RM_CHECKOUT
		     , RA.RM_NAME
		     , RA.RM_IMAGE
		  FROM PENSION P
		  JOIN PENSION_ROOM R
		    ON P.PEN_ID = R.PEN_ID
		  JOIN ROOM_ATTACH RA
		    ON R.RM_NAME = RA.RM_NAME
		 WHERE P.PEN_NAME = #{PEN_NAME}
		 ORDER BY CONVERT(R.RM_PRICE, SIGNED);		<!-- convert : 문자형을 숫자형으로 변환 -->
	</select>
	<!-- 박성빈 -->
	<select id="listReservation" resultType="com.itwillbs.domain.ReservationDTO">
	SELECT R.RES_NUMBER
		 , P.PEN_NAME, R.RM_NAME
	 	 , M.USER_NAME, R.USER_ID
	  	 , R.CHECK_IN_D, R.CHECK_IN_T
	 	 , R.CHECK_OUT_D, R.CHECK_OUT_T
		 , R.RES_TIME
  	 FROM RESERVATION R LEFT JOIN PENSION P
						ON (P.PEN_ID = R.PEN_ID)
						LEFT JOIN MEMBER M
						ON (M.USER_ID = R.USER_ID)
	 WHERE P.USER_ID = #{user_id}					
 	</select>
</mapper>