<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.memberMapper">
	
<!-- 	회원가입 -->
	<insert id="InsertMember">
		INSERT INTO MEMBER
			 ( USER_ID
			 , USER_TYPE
			 , PASSWORD
			 , USER_NAME
		     , JUMIN
		     , USER_PHONENUMBER
		     , USER_ADDRESS
			 , USER_ZIPCODE) 
		VALUES
			 ( #{user_id} 
			 , #{user_type}
			 , #{password}
			 , #{user_name}
		     , HEX(AES_ENCRYPT(#{jumin},'itwill'))
		     , #{user_phonenumber}
		     , #{user_address}
		     , #{user_zipcode})
	</insert>

	
	<select id="userlogin" resultType="map">
		SELECT USER_ID
			 , USER_TYPE
		     , PASSWORD
		  FROM MEMBER
		 WHERE USER_ID = #{user_id}
		   AND USER_TYPE = #{user_type}
	</select>
	
	<select id="iddup" resultType="map">
		SELECT USER_ID
		  FROM MEMBER
		 WHERE USER_ID = #{user_id}
		   AND USER_TYPE = #{user_type}
	</select>
	
	<update id="updatePass">
		UPDATE MEMBER 
		   SET PASSWORD = #{password}
		 WHERE USER_ID = #{user_id}
		   AND USER_TYPE = #{user_type}
	</update>
	
	<update id="updateUser">
		UPDATE MEMBER 
		   SET USER_NAME = #{user_name}
		     , PASSWORD = #{password}
		     , USER_PHONENUMBER = #{user_phonenumber}
		     , USER_ADDRESS = #{user_address}
		 WHERE USER_ID = #{user_id}
		   AND USER_TYPE = #{user_type}
	</update>
	
	<select id="selectUser" resultType="map">
		SELECT USER_NAME
		     , PASSWORD
		     , USER_PHONENUMBER
		     , USER_ADDRESS
		  FROM MEMBER
		 WHERE USER_ID = #{user_id}
		   AND USER_TYPE = #{user_type}
	</select>
	
</mapper>